@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #bdd5ea;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.add {
    background-color: #edf2f4;
    color: #2b2d42;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 1px;
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height: 200px;
    width: 200px;
}


.note .tools {
    background-color: #577399;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.note .main {
    background-color: #f7f7ff;
    overflow: hidden;
    height: 200px;
    width: 100%;
    
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 200px;
    width: 100%;
    
}

.note .hidden {
    display: none;
} 

